<div mat-dialog-content>
  <form [formGroup]="noteForm" (ngSubmit)="onSave()">
    <mat-form-field class="full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>

    <mat-form-field class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput
        formControlName="content"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="3"></textarea>
    </mat-form-field>
  </form>
</div>
<mat-dialog-actions align="center">
  <button mat-flat-button color="primary" (click)="onSave()">Save</button>
  <button mat-flat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
