html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  width: 90%;
  margin: 2rem auto 0 auto;

  @media (min-width: 768px) {
    width: 40%;
    margin: 2rem auto 0 auto;
  }
}

@import "assets/scss/utilities.scss";
@import "assets/scss/material-overrides.scss";
@import "assets/scss/components/spinner.scss";
